/* Banner */
#banner {
  height: 80px;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
}

#banner h1{
  text-align: left;
  margin-left: 32px;
  color: #f1f1f1;
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 200px;
  position: fixed; /* Stay in place */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 100px;
}
  
/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
  
/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}
  
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
} 

/* article */
article {
  /* placement */
  margin: 150px 150px 0 400px;

  /* text */
  text-align: center;
  font-size: 22px ;
}

/* Section */
section {
  border: 2px solid #111;
  padding: 20% 5px 20% 5px;
}

#unity1 {
  display: none;
}

/* button */
.arrow-button {
  display: flex;
  color: #818181;
  background-color: #111;
  padding: 30px 30px;
  border-radius: 30px;
  transition: all .2s ease;
  /* cursor: pointer; */
  align-items: center;

  /* height placement */
  position: relative;
  top: 300px;
}

/* width placement of buttons */
#left-button {
  left: -100px;
  float: left;
}

#right-button {
  left: 100px;
  float: right;
}

/* arrow */
.arrow-button > .arrow {
  width: 15px;
  height: 15px;
  border-right: 3px solid #818181;
  border-bottom: 3px solid #818181;
  position: relative;
  /* transform: rotate(-45deg); */
  transition: all .2s ease;
}

.arrow-button > .left {
  transform: rotate(135deg);
}

.arrow-button > .right {
  transform: rotate(-45deg);
}

/* line of the arrow */
.arrow-button > .arrow::before {
  display: block;
  background-color: currentColor;
  width: 3px;
  transform-origin: bottom right;
  height: 3px;
  position: absolute;
  opacity: 0;
  bottom: calc(-2px / 2);
  transform: rotate(45deg);
  transition: all .2s ease;
  content: "";
  right: 0;
}

/* animation of arrow & line */
.arrow-button:hover > .left {
  transform: rotate(135deg) translate(4px, 4px);
}

.arrow-button:hover > .right {
  transform: rotate(-45deg) translate(4px, 4px);
}

.arrow-button:hover > .arrow::before {
  opacity: 1;
  width: 25px;
}

.arrow-button:hover {
  background-color: #111;
  color: #818181;
}

